*{
    margin: 0;
    padding: 0;
    font-family:;
}

body{
    font-family: "Playwrite AU TAS", cursive;
}

main{
    margin: 35px;
}

main nav{
   padding: 10px 20px;
}

main nav ul{
     list-style: none;      
  display: flex;          
  justify-content: flex-start; 
  gap: 20px;               
  margin: 0;
  padding: 0;
}
main nav ul a{
    text-decoration: none;  
  color: black;
  font-weight: bold;
}


main nav li{
    font-size: x-large;
}

article{
    display: flex;
}

article .artDirec{
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 45px;
}


article .artDirec h2{
    font-size: 80px;
}

article .artDirec p{
    font-size: x-large;
}

article .artDirec button{
    border-radius: 15px;
    background-color: black;
    color: white;
    width: 130px;
    height: 35px;
}

article img{
    width: 672px;
    border-radius: 30px;
    margin: 20px;
}


.button-group {
  display: flex;           /* met les boutons côte à côte */
  gap: 10px;               /* espace entre les boutons */
}


main hr{
    margin-top: 40px;
    margin-bottom: 40px;
}

main .article1{
    line-height: 40.5px;

}

article .infoDirec{
    display: flex;
}

.choice-btn {
  background-color: #ffffff;
    border: 2px solid black;
    padding: 5px 25px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
}

.choice-btn:hover {
  background-color: #000000;
  color: white;
  transform: scale(1.05);
}

.choice-btn:active {
  background-color: #5f5f5f;
  transform: scale(0.98);
}

main .section2{
    display: flex;
}

main .section2 .article2{
    display: flex;
    flex-direction: column;

}

main .section2 .article2 .article2Info{
    margin: 20px;
    line-height: 30.5px;
}

main .section2 .artDirecVertical {
    display: flex;
    flex-direction: column;

}

main .section2 button{
    background-color: #ffffff;
    border: 2px solid black;
    padding: 5px 25px;
    border-radius: 15px;
    color: black;
}

