* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

img{
    display: block;
}

body{
    background-color: #eff5ef;
    font-family: "Poppins";
}

main{

}

main nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vh;
}

main nav h1{

}

main nav div{
    display: flex;
    justify-content: space-between;
    width: 30%; 
    align-items: center;  
}

main nav div ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

main nav div ul li{
    list-style-type: none;
}

main nav div ul li a{
    color: #000;
    font-weight: 600;
}

header{
    background-image: url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


header section{
    background-color: #c6d870;
    width: 80%;
    padding: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header section h2{
    font-size: 60px;
}

header p{
    margin: 5vh 0;
}

header a{
    background-color: #556b2f ;
    color: white;
    padding: 2vh;
    display: block;
    width: 25%;
    border-radius: 30px;
}

.section2{
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 img{
    width: 30%;
}

.banner{
    background-color: #c6d870;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner article{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner article h2{
    font-size: 60px;
}

.banner article p{
    margin-top: 5vh;
}

.banner aside{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.banner aside img{  
    width: 45%;
}

.blog{
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog img{
    width: 45%;
}

.blog section{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog section article{
    display: flex;
    justify-content: space-between;
}

.blog section article img{
    /* width: 100%; */
    /* height: 80%; */
}

.blog section article .info{
    /* margin-left: 3vh; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog section article .info h3{
    font-size: 28px;
}

.blog section article .info p{
    font-size: 12px;
}

.blog section article .info a{
    background-color: #556b2f;
    padding: 1vh 0;
    width: 60%;
    text-align: center;
    color: white;
    border-radius: 30px;
    font-weight: 700;
    padding-left: 5vh;
}


.blog article {
    display: flex;
}


