// ani.scss
@import url('https://fonts.googleapis.com/css?family=Lustria|Lato:300');

$title_font: 'Lustria', serif;
$base_font: 'Lato', sans-serif;
$dark: #222222;
$clouds: #eeeeee;

body {
  margin: 0;
  overflow-x: hidden;
  font-family: $base_font;
}

ul.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    cursor: pointer;
    height: 400px;

    .overlay {
      background: #000;
      opacity: 0.4;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 8;
    }

    .info {
      position: relative;
      z-index: 10;
      color: #fff;
      text-align: center;
      padding: 30px 20px 20px;

      h2 {
        font-family: $title_font;
        font-size: 30px;
        line-height: 50px;
      }

      p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
      }

      .btn {
        display: inline-block;
        padding: 0 10px;
        line-height: 30px;
        border: 1px solid #fff;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        margin-bottom: 20px;
      }

      .description {
        display: none;
      }
    }

    .bg-img img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }
}
