
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  background-color: #fff;
}

main { }
header { }

img {
  mix-blend-mode: multiply; /* ou darken, ou overlay selon ton fond */}

  


/* === BARRE DE CONTACT (haut du header) === */
#contact .contact-list {
  background-color: black;
  color: white;
}

#contact ul {
  display: flex;
  gap: 10px;
  align-items: center;
  background: black;
  color: white;
  padding: 6px 20px;
  list-style: none;
}

#contact ul li img {
  margin-right: 6px;
  width: 18px;
  height: 18px;
}

/* === BARRE DE NAVIGATION PRINCIPALE === */
#navigation {
  display: flex;                  /* active le flexbox */
  justify-content: space-between; /* espace les 3 blocs : gauche / centre / droite */
  align-items: center;            /* centre verticalement les éléments */
  padding: 10px 40px;
  background-color: #f5f5f5;
}

/* h1 à gauche */
#navigation h1 {
  color: green;
  font-size: 28px;
  font-weight: bold;
}

/* nav au centre */
#navigation nav ul {
  display: flex;
  gap: 85px;                      /* espace entre les liens */
  list-style: none;
}

#navigation nav a {
  text-decoration: none;
  color: rgb(94, 151, 94);
  font-weight: 500;
}

#navigation nav a:hover {
  color: darkgreen;
}

/* icônes à droite */
#headlogo ul {
  display: flex;
  gap: 15px;
  list-style: none;
  align-items: center;
}

#headlogo img {
  width: 24px;
  height: 24px;
}

/* === FIN HEADER === */
section{
        background-color: rgb(126, 171, 126);
}

.article1{
    display: flex;
    background-color: #90c090 ;
}

.article1 .articleinfo{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 35px;
}

.article1 img{
    width: 500px;
    height: 500px;
}


.article2{
    
}

.article2 .article2info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.article2 .services ul{
    display: flex;
    justify-content: center;

}

.article2 .services ul li{
    display: flex;
    flex-direction: column;

}