/* RESET */

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #dadada;
}

/* MAIN */
main {
    width: 960px;
    margin: 0 auto;
}

/* header */
main header {
    height: 200px;
    background-color: orange;
}

main header h1{
    font-size: 60px;
    text-align: center;
    line-height: 200px;
}

/* navigation */
main nav {
    height: 50px;
}

main nav ul{
    font-size: 0;
}

main nav ul li{
    display: inline-block;
    width: 25%;
    font-size: 16px;
}

main nav ul li a{
    background-color: orangered;
    display: block;
    text-align: center;
    line-height: 50px;
    color: white;
    text-decoration: none;
    transition: all 0.5;
}


main nav ul li a:hover{
background-color: rgb(255, 126, 79);
}


/* section */
main section{
    background-color: white;
    padding: 50px;
}

main section p{
    text-align: center;
    font-size: 30px;
    line-height: 300px;
}


main section article{
    background-color: gainsboro;
    border: 1px solid black;
}

main section article p{
    color: orangered;
}

main footer{
    background-color: black;
    height: 50px;
}

main footer p{
    color: white;
    text-align: center;
    line-height: 50px;
}