*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4vh;
}

.marge{
    margin: 8vh;
}

.line{
    height: .1vh;
    width: 70%;
    background-color: #000000;
}

main .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255 0 0 / 25%);
    color: #fff;
    text-transform: uppercase;
    padding: 3vh;
    /* Ne pas répéter le sélecteur parent lors du nesting */
    nav{
        width: 40%;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                font-size: 1.2rem;
            }
        }
    }
}

header{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    .headerContainer{
        width: 100%;
        height: 100%;
        display: block;
        align-content: center;
        text-align-last: center;
        img{
            width: 30%;
        }
        h1{
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
        }
        h2{
            font-size: 0.7rem;
            font-weight: 400;
            color: #fff;
        }
        .headerLogoReseaux{
            display: flex;
            gap: 2vh;
            justify-content: center;
            margin-top: 3vh;
            svg, i{
                color: rgb(0, 0, 0);
                border-radius: 35%;
                background-color: #ffffff;
                width: 5vh;
                padding: 0.5vh;
            }
        }
    }
}

.histoire{
    background-image: url(../img/pattern.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 105vh;
    padding: 5vh 0;
    .blocHistoire{
        width: 50%;
        text-align: center;
        background-color: #fff;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8vh;
        gap: 2vh;
        h2{
            font-size: 2rem;
            padding-bottom: 3vh;
        }
        p{
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }
}

.projets{
    height: 80vh;
    place-content: center;
    .blocProjets{
        width: 60%;
        text-align: center;
        background-color: #fff;
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8vh;
        img{
            width: 32%;
            filter: grayscale(100%);
        }
    }

}

.ambitions{
    justify-items: center;
    margin: 0 45vh;
    .ContainerAmbitions{
        height: 15vh;
        text-align-last: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        i{
            display: block;
        }
        h4{
            font-size: 1em;
        }
        p{
            text-align: center;
        }
    }
    .artAmbitions{
        display: flex;
        justify-content: space-around;
        align-items: center;
        img{
            width: 65%;
        }
        .ambitionText{
            height: -webkit-fill-available;
            display: flex;
            flex-direction: column;
            gap: 3vh;
            padding: 3vh 3vh;
            h5{
                font-size: 1.2rem;
                font-weight: 100;
            }
            h6{
                font-size: 1.5rem;
            }
        }
    }

}

.services{
    height: 140vh;
    .containerServices{
        width: 55%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 15vh;
        .cardService{
            background-color: #fff;
            display: flex;
            padding: 2vh 0;

            img{
                width: 60%;
                height: 50%;
                object-fit: cover;
            }
            .cardinfo{
                display: flex;
                border: 1px solid #000000;
                background-color: #fff;
                flex-direction: column;
                padding: 2vh;
                gap: 2vh;   
                position: relative;
                right: 15vh;
                place-self: center;
                height: 30vh;
                align-items: flex-start;
                box-shadow: 0 0 14px rgba(0, 6, 15, 1.1);
*
                h6{
                    font-size: 1em;
                }
                p{
                    font-size: 0.7em;
                }
                a{
                    text-transform: uppercase;
                    color: red;
                    font-weight: bold;
                    border: 1px solid #000000;
                }
            }
        }
    }
}

footer{
    
    height: 30vh;
    padding: 3vh;
    font-size: 0.8rem;
    .footerContainer{
        width: 100%;
        display: block;
        align-content: center;
        text-align-last: center;
        background-image: url(../img/background-footer.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 55vh;
        .footerInfo{ 
            background-color: #fff;
            border: 1px solid #000000;
            height: 100%;
            width: 20%;
            margin-left: 43vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 2vh;
            justify-content:space-around;

            img{
                width: 70%;
            }
            p{
                font-size: 0.8rem;
                height: 14vh;
                text-align-last: left;
            }
            .footerLogoReseaux{
                display: flex;
                gap: 2vh;
                svg, i{
                color: white;
                border-radius: 35%;
                background-color: #9b1414;
                width: 5vh;
                padding: 0.5vh;
                }
            }
        }
    }
}