*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

nav{
    background-color: #000;
    width: 165px;
    height: 100vh;
}

nav ul{
    font-size: 0;
}

nav ul li{
    font-size: 16px;
}

nav ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0;
    transition: all .5s;
}

nav ul li a:hover{
    background-color: rgb(138, 43, 226);
}

main{
    
}